# chezmoi:template:missing-key=invalid
#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
PS1='[\u@\h \W]\$ '

if [ -e $HOME/.bash_aliases ]; then
    source $HOME/.bash_aliases
fi

export EDITOR="emacsclient -t -a ''"              # $EDITOR use Emacs in terminal
export VISUAL="emacsclient -c -a emacs"           # $VISUAL use Emacs in GUI mode

eval "$(starship init bash)"

export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"

export SONAR_TOKEN="{{.token.sonar}}"
export GITHUB_TOKEN="{{.token.github}}"
