;;; personal.el -*- lexical-binding: t; -*-

(setq triplem/full-name "{{.personal.name}}")
(setq triplem/primary-email "{{.personal.email.primary}}")
(setq triplem/secondary-email "{{.personal.email.secondary}}")
(setq triplem/alias-email "{{.personal.email.alias}}")
